:root {
    --font-scale: 1.165;
    --border-radius: 0;
    --input-font-family: var(--heading-font-family);
    --input-border: 1px solid var(--color-body);
    --input-border-radius: 8px;
    --button-font-family: var(--heading-font-family);
    --button-font-weight: var(--heading-font-weight);
    --button-border-radius: 100px;
    --shadow: 0;
    --site-header-border-bottom: 0;
    --avatar-border-radius: 9999px;
    --mai-toc-background-color: var(--color-white)
}

textarea {
    --input-border-radius: 10px
}

.has-boxed-container {
    --site-container-margin-top: var(--spacing-xxxs)
}

.site-header .mai-columns {
    width: calc(100% - var(--spacing-xl))
}

.nav-after-header {
    background: var(--color-white);
    --menu-font-family: var(--heading-font-family);
    --menu-font-weight: var(--heading-font-weight);
    --menu-font-size: var(--font-size-base)
}

.nav-after-header>.wrap {
    background: var(--color-alt);
    border-bottom: 3px solid var(--color-primary)
}

.is-style-subheading {
    font-weight: var(--heading-font-weight);
    font-family: var(--heading-font-family);
    letter-spacing: 2px
}

.breadcrumb {
    color: var(--breadcrumb-color, var(--color-custom-1));
    font-weight: var(--heading-font-weight);
    font-family: var(--heading-font-family);
    font-variant: all-petite-caps;
    letter-spacing: 1px;
    --breadcrumb-font-size: 14px
}

.page-header {
    --page-header-inner-max-width: var(--breakpoint-lg)
}

body:not(.single-post) .nav-after-header+.site-inner .page-header {
    margin-top: var(--spacing-sm)
}

.page-header:not(.has-page-header-image) .breadcrumb {
    --breadcrumb-margin: 0 auto var(--spacing-xl);
    --breadcrumb-color: var(--color-white);
    --link-color: var(--color-white);
    --link-color-hover: var(--color-white)
}

.site-inner>.breadcrumb {
    --breadcrumb-margin: 0 auto;
    width: 100%;
    padding: var(--spacing-md);
    text-align: center;
    background: var(--color-white)
}

.button {
    --button-text-transform: uppercase;
    --button-letter-spacing: 1px;
    --button-small-font-size: 0.64em
}

.button-link::after {
    display: none
}

.entry-meta {
    --link-color: var(--color-body);
    --link-color-hover: var(--color-link);
    color: var(--entry-meta-color, var(--color-custom-1));
    font-weight: var(--heading-font-weight);
    font-size: .7em;
    font-family: var(--heading-font-family);
    letter-spacing: 2px
}

.has-dark-background {
    --entry-meta-color: var(--color-white)
}

[class*=content-box] {
    margin-bottom: var(--spacing-lg);
    padding: var(--spacing-lg);
    background: var(--color-alt)
}

.wm-term-image {
    --image-border-radius: 9999px;
    display: block;
    margin: 0 auto var(--spacing-lg)
}

.reviewer-image {
    text-align: center
}

.reviewer-image img {
    border-radius: 999px
}

.archives-description {
    text-align: center
}

.tax-reviewer .archives-description {
    text-align: start
}

.archive-title {
    text-align: center
}

.archive-pagination {
    --pagination-padding: var(--spacing-md) 0
}

.button-arrow:not(:first-child) {
    margin-left: var(--spacing-sm)
}

.entry-more .mai-icon {
    width: calc(var(--icon-size) * var(--icon-padding));
    height: calc(var(--icon-size) * var(--icon-padding))
}

.has-circle-images,
.has-circle-images img {
    --entry-image-border-radius: 100px
}

.home-as-seen img {
    width: auto;
    max-height: 120px;
    opacity: .75;
    filter: grayscale(1)
}

.home-subscribe .formkit-form[data-uid=cd22f91f37] {
    margin: 0 auto
}

.home-podcast .entry-meta {
    --entry-meta-margin: 0
}

.archives-description:not(.blog-description) {
    max-width: var(--breakpoint-md)
}

.podcast_player {
    margin-bottom: var(--spacing-xl);
    padding: var(--spacing-md) var(--spacing-md) var(--spacing-xs);
    background: var(--color-alt);
    border-radius: 2px 2px 0 0
}

.podcast_meta {
    --paragraph-margin-bottom: var(--spacing-xs);
    padding: var(--spacing-xs) var(--spacing-md) var(--spacing-md);
    font-weight: 400;
    font-size: .8em;
    font-family: sans-serif;
    background: var(--color-alt);
    border-radius: 0 0 2px 2px
}

.adthrive-ad {
    padding: var(--spacing-md);
    background: var(--color-alt)
}

.adthrive-ad::before {
    display: block;
    margin-bottom: var(--spacing-md);
    font-variant: all-small-caps;
    font-size: var(--font-size-xs);
    font-family: var(--heading-font-family);
    letter-spacing: 2px;
    content: "Advertisement"
}

.mai-toc__summary,
.mai-accordion-summary {
    position: relative
}

.mai-toc__showhide>.mai-toc__summary::before,
.mai-accordion-summary::before {
    position: absolute;
    left: 0;
    width: 4px;
    background: var(--color-primary);
    content: ""
}

.mai-toc__showhide>.mai-toc__summary::before {
    top: -2px;
    bottom: -2px
}

.mai-accordion-summary::before {
    top: -1px;
    bottom: -1px
}

.mai-popup {
    z-index: 99999999999 !important
}

.mai-popup.has-border-radius {
    border-radius: 4px
}

.mai-popup .formkit-form [data-style=clean] {
    padding: 0 !important
}

.mai-popup .formkit-fields,
.mai-popup .formkit-submit {
    margin: 0 !important
}